*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
     font-size: 42px;
     font-weight: 900;
}
.color-orange{
     color: #FD6E0A;
}
.btn{
     background-color: #FD6E0A;
     border: none;
     padding: 18px 35px;
     border-radius: 5px;
     font-size: 20px;
     font-weight: bold;
     color: white;
     cursor: pointer;
}
/*main style*/
header{
     background-color: #FFF8F3;
     background: url(../images/developer.png) , url(../images/header_bg.png) ,#FFF8F3;
     background-repeat: no-repeat;
     background-position: top left, bottom right;
     padding-top: 45px;
     
}

nav{
    width: 71%;
    max-width: 1100px;
    /*border: 1px solid red;*/
     margin: 0px auto;
     display: flex;
     justify-content: space-between;
     
}
nav .menu{
     display: flex;
     list-style: none;
     gap: 50px;
     align-items: center;

}
nav .menu a{
     font-size: 20px;
     text-decoration: none;
     color: #474747;
}
#banner{
     /*border: 1px solid red;*/
     margin: 47px 38px 0 230px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
#banner .banner-content h2{
     font-size: 45px;
     font-weight: 600;
     color: #474747;
     margin-bottom: 5px;


}
#banner .banner-content h1{
     font-size: 80px;
     font-weight: bold;
     color: #181818;
     margin-bottom: 20px;
     
     
     


}
#banner .banner-content {
     max-width: 585px;

}
#banner .banner-content p{
     font-size: 18px;
     line-height: 30px;
     margin-bottom: 30px;
     
}
#banner .banner-image img{
     max-width:1300px;
     vertical-align: middle;

}


